
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <a href="https://www.youtube.com/watch?v=MBRqu0YOH14&vl=en" style="color:#c0334a" target="_blank"> <h1 class="title">  {% if site.banner-title %}{{ site.banner-title }}{% else %}Optimistic Nihilism{% endif %}  </h1> </a>
      <p><br><br><br><br></p>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"There are billions of stars to visit, diseases to cure, people to help, happy feelings to be experienced, and video games to finish. If this is our one shot at life, there is no reason not to have fun and live as happy as possible. Bonus points if you made the life of other people better. More bonus points if you help build a galactic human empire."{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->
